body{
background:#0e1117;
color:white;
font-family:Arial;
margin:0;
}

.navbar{
background:#d9d9d9;
color:black;
padding:20px;
}

.player-dashboard{
width:80%;
margin:40px auto;
display:grid;
grid-template-columns:300px 1fr;
gap:30px;
}

.player-card{
background:#8c8c8c;
padding:20px;
border-radius:6px;
}

.flag-large{
width:50px;
margin-bottom:10px;
}

.player-history{
background:#8c8c8c;
padding:20px;
border-radius:6px;
}

.player-history ul{
list-style:none;
padding:0;
}

.player-history li{
padding:8px;
border-bottom:1px solid #444;
}