<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LaLiga Clasificación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/Clasificaciones.css') }}">
</head>
<body>
    
<h2>Clasificación LaLiga</h2>

<a href="{{ url_for('index') }}">← Volver</a>

<table>
<tr>
    <th>Pos</th>
    <th>Equipo</th>
    <th>Puntos</th>
    <th>PJ</th>
    <th>G</th>
    <th>E</th>
    <th>P</th>
    <th>GF</th>
    <th>GC</th>
    <th>DG</th>
    <th>Forma</th>
</tr>

{% for team in table %}
<tr class="
    {% if team.position <= 4 %}champions
    {% elif team.position == 5 %}europa
    {% elif team.position == 6 %}conference
    {% elif team.position >= 18 %}descenso
    {% endif %}
">
    <td>{{ team.position }}</td>
    <td class="team-cell">
        <img src="{{ team.team.crest }}" class="crest">
        {{ team.team.name }}
    </td>
    <td>{{ team.points }}</td>
    <td>{{ team.playedGames }}</td>
    <td>{{ team.won }}</td>
    <td>{{ team.draw }}</td>
    <td>{{ team.lost }}</td>
    <td>{{ team.goalsFor }}</td>
    <td>{{ team.goalsAgainst }}</td>
    <td>{{ team.goalDifference }}</td>
    <td class="form-cell">
    {% for result in team.form.split(',') if team.form %}
        <span class="form {{ result }}">
            {{ result }}
        </span>
    {% endfor %}
    </td>
</tr>
{% endfor %}
</table>

</body>
</html>