<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ team.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/Club.css') }}">
</head>
<body>

<div class="navbar">
    <a href="{{ url_for('index') }}">← Volver a LaLiga</a>
</div>

<div class="dashboard">

    <!-- INFO CLUB -->
    <div class="card info">
    <div class="info-layout">

        <div class="crest-container">
            <img src="{{ team.crest }}" alt="Escudo">
        </div>

        <div class="club-data">
            <h2>{{ team.name }}</h2>
            <p><strong>Fundado:</strong> {{ team.founded }}</p>
            <p><strong>Estadio:</strong> {{ team.venue }}</p>
            <p><strong>Dirección:</strong> {{ team.address }}</p>
            <p><strong>Colores:</strong> {{ team.clubColors }}</p>
        </div>
        </div>
        </div>


    <!-- DT -->
    <div class="card coach">
    <h3>Entrenador</h3>

    {% if team.coach %}
        <p><strong>{{ team.coach.name }}</strong></p>
        <p>{{ team.coach.nationality }}</p>
        <p>Contrato hasta {{ team.coach.contract.until }}</p>
    {% else %}
        <p>No disponible</p>
    {% endif %}
    </div>


    <!-- JUGADORES -->
    <div class="card players">
    <h3>Plantilla</h3>
    <div class="scroll">
        {% for player in team.squad %}
            <div class="player">
                <div class="player-name">
                    {{ player.name }}
                </div>
                <div class="player-meta">
                    <span class="pos">{{ player.shortPosition }}</span>
                    {% if player.flagUrl %}
                        <img src="{{ player.flagUrl }}" class="flag">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>


    <!-- PARTIDOS -->
    <div class="card matches">
    <h3>Últimos partidos</h3>

    {% for match in matches %}
        <div class="match">
            <span>{{ match.homeTeam.name }}</span>

            <strong>
            {% if match.score.fullTime.home is not none %}
                {{ match.score.fullTime.home }} - {{ match.score.fullTime.away }}
            {% else %}
                VS
            {% endif %}
            </strong>

            <span>{{ match.awayTeam.name }}</span>
        </div>
    {% endfor %}
    </div>

</div>

</body>
</html>
