<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LaLiga Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/Index.css') }}">
</head>
<body>

<div class="navbar">
    <h1>LaLiga Dashboard</h1>

    <div class="nav-links">
        <a href="{{ url_for('Clasificaciones') }}">Clasificación</a>
        <a href="{{ url_for('Goleadores') }}">Goleadores</a>
        <a href="{{ url_for('Asistencias') }}">Asistencias</a>
    </div>
</div>

<h1 class="title">LaLiga 25/26</h1>

<div class="grid">
    {% for team in teams %}
        <a href="/club/{{ team.id }}" class="card">
            <div class="card-content">
                <img src="{{ team.crest }}" alt="{{ team.name }}">
            </div>
        </a>
    {% endfor %}
</div>

</body>
</html>
